body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}
.container {
  min-width: 600px;
  margin: 20px auto;
  text-align: center;
}
.btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn-primary {
  background-color: #007bff;
}
.btn-danger {
  background-color: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.btn-secondary {
  background-color: #6898cc;
  color: white;
  border: 1px solid #6898cc;
}

.btn-secondary:hover {
  background-color: #396da5;
  border-color: #0c4583;
}
.btn-ternary {
  background-color: #ffc107;
  color: #333;
}
.btn-ternary:hover {
  background-color: #ff761a;
}
.btn-danger:hover {
  background-color: red;
  color: white;
}
#autor {
  margin-top: 20px;
}
.quote {
  font-size: 1.2em;
}
.quote-text {
  font-style: italic;
  min-height: 5em;
  margin-block-end: 0.7em;
}
.quote-autor {
  font-weight: bold;
}
.quote-text::before,
.quote-text::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.favorite-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
}
.favorite-card-content {
  flex: 1;
  color: #333;
}
.favorite-card button {
  margin-top: auto;
}
.favorite-card-autor {
  font-style: italic;
}
.star-icon {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: yellow;
}
